<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>

<body>
    <h1>Cadastrar Time</h1>
    <form action="cadastrar" method="POST">
        <label>Nome:</label>

        <input type="text" name="nometime"/></br>
        <label>Historia:</label>
        <input type="text" name="historia"/></br>

        <label>Tecnico:</label>
        <input type="text" name="tecnico"/></br>

        <label>Atacante:</label>
        <input type="text" name="atacante"/></br>

        <label>Meia:</label>
        <input type="text" name="Meia"/></br>

        <label>zaga:</label>
        <input type="text" name="zaga"/></br>
        
        <label>goleiro:</label>
        <input type="text" name="goleiro"/></br>
        <input type="submit" value="Salvar"/>
        
    </form>
</body>


</html>