<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>Aula Flask</title>
</head>

<body>
       <h1>Inicio da Pagina</h1>   

        <a href="atletico_nacional">ATLETICO_NACIONAL</a></br>          
           
        <a href="corinthians">CORINTHIANS</a></br>     

        <a href="palmeiras">PALMEIRAS</a></br>     

        <a href="new_york_city">NEW_YORK_CITY</a></br>     

        <a href="cadastrartime.html">Cadastrar os Times</a></br>     

        <a href="cadastrarplacar.html">Cadastrar os Placares</a></br>        
                    
      
</body>

</html>